<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#parse("/layout/head.vm")
	<script src="$!staticServer/vm/js/common/default.js?v=$!v"></script>
</head>
<body>
	#parse("/layout/top.vm")
	<div>
		$screen_content
	</div>
</body>
</html>
